<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="music_vol" value="100" />
    <add key="sound_vol" value="100" />
    <add key="divider_char" value="'" />
    <add key="divider_size" value="25" />
    <add key="do_blips" value="true" />
  </appSettings>
</configuration>