Game Files/.vs/
Game Files/Save Files/
Game Files/Music/
Game Files/Main/obj/
Game Files/Main/bin/
Game Files/Data/obj/
Game Files/Data/bin/
Game Files/Data/Music/
Game Files/packages/
/Game Files/Python Files/